@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

.form-input {
  @apply block w-full rounded-md border-0 py-1 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
.form-label {
  @apply text-base font-semibold leading-6 text-gray-900;
}
.btn {
  @apply w-[200px] bg-blue-500 text-white px-4 py-2 rounded-md
}
